<div class="main-footer">
<div class="container">
  <div class="d-flex justify-content-center text-md-left text-center align-items-center flex-md-row flex-column">
    <div class="col-12 col-md-auto mb-4">
      <img src="/assets/logo.svg" alt="logo">
    </div>
    <div class="col-12 col-md-auto align-items-center align-items-md-start d-flex flex-column">
      <p class="d-flex align-items-baseline" ><span class="telefone-icon mr-2" ></span>+55 (87) 3312.4057</p>
      <p class="d-flex align-items-baseline" ><span class="email-icon mr-2" ></span>contato@babakery.com.br</p>
      <p class="d-flex align-items-baseline" ><span class="location-icon mr-2" ></span>R. Hermílio Arantes, 1040 - Vila dos<br/> Coqueiros. Graças, Recife - PE.</p>
    </div>
  </div>
  <hr/>
  <div class="d-flex justify-content-center">
    <p>Ba Bakery - Copyright 2023 &copy; Todos os direitos reservados.</p>
  </div>
</div>
</div>
