<!-- MAIN CONTENT  -->
<div class="main-content">
  <div class="container">
    <div class="main-header col-12 col-md-6">
      <div class="d-flex justify-content-center align-items-start flex-column">
        <h1>Sabor <br/> em cada pedaço.</h1>
        <button class="btn btn-orange" >nossos produtos</button>
      </div>
    </div>
  </div>
</div>
<!-- MAIN CONTENT  -->
<!-- MAIN ABOUT -->
<div class="main-about">
  <div class="container">
    <div class="d-flex flex-md-row flex-column align-items-start justify-content-center">
      <div class="col-12 col-md-6">
        <img src="/assets/about.png" alt="about"/>
      </div>
      <div class="col-12 col-md-6">
        <header class="about-header" >
          <h3>História da Ba Bakery</h3>
          <div class="barra"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </header>
      </div>
    </div>
  </div>
</div>
<!-- MAIN ABOUT -->
<!-- MAIN PRODUCTS -->
<div class="main-products">
  <div class="container">
    <div class="d-flex flex-column">
      <h3>Produtos</h3>
      <div class="barra"></div>
    </div>
    <div class="d-flex flex-column flex-md-row">
      <div class="col-md-4 col-12 pl-0">
        <div class="main-product">
          <img src="/assets/produto-1.png" alt="produto-1">
          <header class="product-title" >
            <h4>Macarons Diversons 90g</h4>
            <p>R$ 9,00</p>
          </header>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="main-product">
          <img src="/assets/produto-2.png" alt="produto-2">
          <header class="product-title" >
            <h4>Tortilette de Laranja Lima com Amoras</h4>
            <p>R$ 12,00</p>
          </header>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="main-product">
          <img src="/assets/produto-3.png" alt="produto-3">
          <header class="product-title" >
            <h4>Fatia de Torta gelada de Café com chocolate Amargo</h4>
            <p>R$ 14,00</p>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MAIN PRODUCTS -->
<!-- MAIN FORMS  -->
<div class="main-forms"></div>
<!-- MAIN FORMS  -->
