<!-- MAIN CONTENT  -->
<div class="main-content">
  <div class="container">
    <div class="main-header col-12 col-md-6">
      <div class="d-flex justify-content-center align-items-start flex-column">
        <h1>Sabor <br/> em cada pedaço.</h1>
        <button class="btn btn-orange" >nossos produtos</button>
      </div>
    </div>
  </div>
</div>
<!-- MAIN CONTENT  -->
<!-- MAIN ABOUT -->
<div class="main-about">
  <div class="container">
    <div class="d-flex flex-md-row flex-column align-items-start justify-content-center">
      <div class="col-12 col-md-6">
        <img src="/assets/about.png" alt="about"/>
      </div>
      <div class="col-12 col-md-6">
        <header class="about-header" >
          <h3>História da Ba Bakery</h3>
          <div class="barra"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </header>
      </div>
    </div>
  </div>
</div>
<!-- MAIN ABOUT -->
<!-- MAIN PRODUCTS -->
<div class="main-products">
  <div class="container">
    <div class="d-flex flex-column">
      <h3>Produtos</h3>
      <div class="barra"></div>
    </div>
    <div  class="d-flex flex-column flex-md-row">
      <div class="col-md-4 col-12 pl-md-0" *ngFor="let produto of produtos async" >

        <div class="main-product">
          <img [src]="produto.img[0].url" alt={{produto.titulo}}>
          <header class="product-title" >
            <h4><a [routerLink]="['/produto',produto.id]" >{{produto.titulo}}</a></h4>
            <p>{{produto.valor | currency:'BRL':true }}</p>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MAIN PRODUCTS -->
<!-- MAIN FORMS  -->
<div class="main-forms">
  <div class="container">
    <div class="d-flex flex-md-row flex-column align-items-center">
      <div class="col-md-6 col-12">
        <header>
          <h3>Se interessou pelos nossos serviços? Manda uma mensagem pra gente. :&#x00029;</h3>
        </header>
        <br/>
        <form>
          <div class="d-flex flex-md-row flex-column" >
            <label class="col-12 col-md-3" for="">nome</label>
            <input class="form-control col-md-8 col-12" type="text" name="nome" required/>
          </div>
          <br/>
          <div class="d-flex flex-md-row flex-column" >
            <label class="col-12 col-md-3" for="telefone">telefone</label>
            <input class="form-control col-md-8 col-12" type="text" name="telefone" required/>
          </div>
          <br/>
          <div class="d-flex flex-md-row flex-column" >
            <label class="col-12 col-md-3" for="email">e-mail</label>
            <input class="form-control col-md-8 col-12" type="text" name="email" required/>
          </div>
          <br/>
          <div class="d-flex flex-md-row flex-column" >
            <label class="col-12 col-md-3" for="mensagem">mensagem</label>
            <textarea name="mensagem" class="form-control col-md-8 col-12" cols="30" rows="5"></textarea>
          </div>
          <div class="col-12 col-md-5 d-flex justify-content-end mt-4">
            <button class="btn-enviar btn btn-orange " >enviar</button>
          </div>
        </form>
      </div>
      <div class="col-md-6 col-12">
        <div class="bg-orange">
          <h4>Você também pode<br/> nos fazer uma visita.</h4>
          <img src="/assets/local.png" alt="local"/>
          <p class="d-flex align-items-baseline" ><span class="location-icon m-2" ></span>R. Lagoa dos gatos, 1040 - Paulista - PE.</p>
          <button class="btn-white-out" >traçar rota</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MAIN FORMS  -->
