<div class="container">
  <div class="d-flex justify-content-center align-items-center mt-4">
    <div class="col-md-auto col-12" >
      <img [src]="produto.img[0].url" />
    </div>
    <div class="col-12 col-md-auto ml-4">
      <div class="card-item">
        <h3>{{ produto.titulo }}</h3>
        <p>{{ produto.desc }}</p>
        <p>{{ produto.valor | currency:'BRL':true }}</p>
        <a class="btn btn-success" (click)="addItemCarrinho()" >Adicionar ao carrinho</a>
      </div>
    </div>
  </div>

</div>
